.product-center {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}

.img-size {
    height: 400px;
}

.buttons-flex {
    display: flex;
}

.img-height-width {
    width: 500px;
    height: 375px;
}

.paddings-for-img {
    margin-right: 5rem;
}