

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f1f1;
    position: relative;
    padding-bottom: 58px;
    min-height: 100vh;
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box;
  }
